body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #F15E5E;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #F79A87;
    color: white;
}

.bg-footer {
    background-color: #F79A87;
    color: white;
}